@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary: #051622;
  --secondary: #1BA098;
  --tertiary: #DEB992;
  --light: #fafafa;
} */


.home__page--container {
  min-height: calc(100vh - 3rem - 6rem);
}

.project__image--container {
  position: relative;
}

.project__image--overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  pointer-events: none;
  transition: all 750ms;
  display: block;
  width: 100%;
  height: 100%;
}

.project__image--container:hover > .project__image--overlay {
  opacity: 1;
  pointer-events: all;
  transition: all 750ms;
}

.button-position {
  padding-top: 5rem;
  padding-left: 6rem;
}


.pic-position {
  margin-left: 60%;
  margin-top: 9%;
  max-width: 20%;
  object-fit: cover;
  object-position: right;

}


/* This CSS button was found on https://getcssscan.com/css-buttons-examples I have modified the original to fit my portfolio */
.button {
  align-items: center;
  background-image: linear-gradient(144deg,#17837c, #1BA098 50%,#7adadd);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #1BA098;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: .6em;
  max-width: 100%;
  min-width: 140px;
  padding: 2px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button:active,
.button:hover {
  outline: 0;
}

.button span {
  background-color: #374151;
  padding: 4px 4px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

#download-button {
  min-width: 100%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 80%;
  top: 44px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #1BA098;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  color: white;
  transition: color 0.2s;
  font-size: 22px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* .button:hover span {
  background: none;
}
 */
